# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
# .env
# .env.*
# !.env.example

/generated/prisma

/generated/prisma

# db 마이그레이션 폴더 제외
/prisma/migrations